server: https://{{ k3s_server_ip }}:6443
token: {{ k3s_token }}
node-ip: {{ ansible_host }}
flannel-iface: {{ k3s_flannel_iface }}

{% if k3s_node_labels is defined %}
node-label:
{% for label in k3s_node_labels %}
  - "{{ label }}"
{% endfor %}
{% endif %}
